body{margin: 0;padding: 0}
.App-header {background-color: #282c34;min-height: 100vh;display: flex;
  flex-direction: column;align-items: center;justify-content: center;font-size: calc(10px + 2vmin);color: white;}
.App-link {color: #61dafb;}
.heading-text{color:#fff;font-size: 42px;font-weight: bolder;text-align: center;margin: 20px;}
.row{display: flex;flex-direction: row;}
.column{display: flex;flex-direction: column;}
.jc-center{justify-content: center;}
.square{min-width: 70px;min-height: 70px;font-size: 40px;text-align: center;color:#1CDBF5;padding: 30px;}
.b-bottom-right{border-right: 8px solid #1CDBF5;border-bottom: 8px solid #1CDBF5;}
.b-bottom{border-bottom: 8px solid #1CDBF5;}
.b-right{border-right: 8px solid #1CDBF5;}
.clear-button{    width: max-content;margin: 40px auto 10px auto;background: #0994a7;color: #fff;border: 0;padding: 7px 15px;border-radius: 3px;}
